$size: 200px;
$thickness: 100px;



.dial-holder {
  margin-top: 100px;
}
.dial {

  background-color: #F5EADF;
  .center {
    background: $effects;
    // text-shadow: 0 -3px 0 #fff;
  }
  .circle{
    background-color: #fff;
    transition: background-color 0.5s;
  }
  .value {
     color: #999;
  }
 /* &:hover {
    .circle {
      background-color: #fff;
    }
    .value {
      opacity: 1;
    }
  }*/
}

.dial {
  user-select: none;
  height: $size;
  width: $size;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  transform: translateX( -50% );
  left: 50%;
  &.over {
    .fill {
      display: block;
    }
    .mask {
      display: none;
    }
  }
  .circle {
    height: 100%;
    width: 50%;
    position: absolute;
    transform-origin: 100% 50%;

  }
  .display {
    height: 100%;
    width: 50%;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 20;
    transform: rotate(90deg);
  }
  .fill {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    z-index: 10;
    display: none;

  }
  .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: 30;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
  }
  .center {
    position: absolute;
    width: $size - $thickness;
    height: $size - $thickness;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 400;
    transform: translateY( -50% ) translateX( -50% );
  }
  .value {

    line-height: $size - $thickness;
    text-align: center;
/*     opacity: 0.5; */
    font-size: 3em;
    font-weight: 200;
    transition: opacity 0.5s

  }
}
