.control-bar {
  position: absolute;
  -webkit-transform: translateY( -50% ) translateX( -50% );
  -webkit-transition: left $animation-speed;
  top: 50%;
  left: 50%;
  width: 480px;
  @media screen and (max-width: 768px) {
    width: 320px;
  }
}

.slider {
  position: relative;
  width: 120px;
  float: left;
  height: 600px;
  -webkit-transition: background-color $animation-speed;
  @media screen and (max-width: 768px) {
    height: 400px;
    width: 80px;
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.15);
    .slider__handle-min, .slider__handle-max {
      background-color: $white;
    }
  }
}

.slider__handle-min, .slider__handle-max {
  -webkit-transition: background-color $animation-speed;
  position: absolute;
  width: 100%;
}

.slider__handle-max {
  top: 0;
  bottom: 50%;
}

.slider__handle-min{
  top: 50%;
  bottom: 0;
}

.hum {
  .slider__handle-min, .slider__handle-max {
    background-color: $hum-faded;
  }
}

.noise {
  .slider__handle-min, .slider__handle-max {
    background-color: $noise-faded;
  }
}
