$barSize: 120px;
$smallBarSize: 80px;

.title-bar {
  z-index:200;
  width: 100%;
  height: $barSize;
  @media screen and (max-width: 768px) {
    height: $smallBarSize;
  }
  position: absolute;
  -webkit-perspective: 1500px;
  -webkit-transform: translateY( -50% );
  top: 50%;

  &:hover {
    .title-bar__next {
      -webkit-transition: background-color $animation-speed, right $animation-speed, opacity $animation-speed;
      right: 20px;
      opacity:1;

    }
    .title-bar__prev {
      -webkit-transition: background-color $animation-speed, left $animation-speed, opacity $animation-speed;
      left: 20px;
      opacity: 1;

    }
  }
}

.title-bar__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform $animation-speed;

  figure {
    position: absolute;
    width:100%;
    height: $barSize;
    margin: 0;
    line-height: $barSize;
    @media screen and (max-width: 768px) {
      height: $smallBarSize;
      line-height: $smallBarSize;
      font-size: 2em;
    }
    text-align: center;
    font-size: 3em;
    -webkit-backface-visibility: hidden;

    -webkit-transform: translateZ( -$barSize/2 );
    @media screen and (max-width: 768px) {
      -webkit-transform: translateZ( -$smallBarSize/2 );

    }
  }
 .title-bar--front  {
    -webkit-transform: translateZ( $barSize/2 );
    @media screen and (max-width: 768px) {
      -webkit-transform: translateZ( $smallBarSize/2 );
    }
  }
 .title-bar--top {
    -webkit-transform: rotateX( 90deg ) translateZ( $barSize/2 ) ;
    @media screen and (max-width: 768px) {
      -webkit-transform: rotateX( 90deg ) translateZ( $smallBarSize/2 ) ;
    }
  }
  &.title-bar--show-top {
    -webkit-transform: translateZ( -$barSize/2 ) rotateX( -90deg );
    @media screen and (max-width: 768px) {
      -webkit-transform: translateZ( -$smallBarSize/2 ) rotateX( -90deg );
    }
  }
}
.title-bar__prev, .title-bar__next {
  position: absolute;
  width: 100px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
}
.title-bar__next {
  right: -100px;
  -webkit-transition: background-color $animation-speed, right $animation-speed, opacity $animation-speed;
}

.title-bar__prev {
  left: -100px;
  -webkit-transition: background-color $animation-speed, left $animation-speed, opacity $animation-speed;
}
.title-bar__title {
  position: absolute;
  left: 0;
  right: 0;
}

.title-bar__chevron {
  width: 32px;
  height: 32px;
}

.home {
  .title-bar__bg{
     figure {
      color: $home;
      background-color: $home-faded;
      -webkit-transition: background-color 0.2s 0.2s, color 0.2s 0.2s;
    }
    &.title-bar--show-top figure {
      background-color: $white;
    }
  }
  .title-bar__prev, .title-bar__next {
    background-color: $home-faded;
    &:hover {
      -webkit-transition: background-color $animation-speed;
      background-color: $white;
    }
  }
  .title-bar__chevron {
    fill: $home;
  }
}


.noise {
  .title-bar__bg{
     figure {
      color: $noise;
      background-color: $noise-faded;
      -webkit-transition: background-color 0.2s 0.2s, color 0.2s 0.2s;
    }
    &.title-bar--show-top figure {
      background-color: $white;
    }
  }
  .title-bar__prev, .title-bar__next {
    background-color: $noise-faded;
    &:hover {
      -webkit-transition: background-color $animation-speed;
      background-color: $white;
    }
  }
  .title-bar__chevron {
    fill: $noise;
  }
}

.hum {
  .title-bar__bg{
     figure {
      color: $hum;
      background-color: $hum-faded;
      -webkit-transition: background-color 0.2s 0.2s, color 0.2s 0.2s;
    }
    &.title-bar--show-top figure {
      background-color: $white;
    }
  }
  .title-bar__prev, .title-bar__next {
    background-color: $hum-faded;
    &:hover {
      -webkit-transition: background-color $animation-speed;
      background-color: $white;
    }
  }
  .title-bar__chevron {
    fill: $hum;
  }
}
