// Colors
$white: #FFFFFF;

$home: #9FAFB5;
$home-faded: #EBEFF0;


$noise: #F4B5BD;
$noise-faded: #FCF0F1;

$hum: #E9C141;
$hum-faded: #FAF2D9;

$animation-speed: 0.4s ease-out;

@import "fonts";
@import "dial";
@import "slider";
@import "title-bar";

body {
  font-family: 'novecento_sans_widedemibold';
  margin: 0;
  -webkit-box-sizing: border-box;
}

.container {
  overflow: hidden;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  &.noise {
    section.noise {
      left: 0;
      .control-bar {
        left: 50%;
      }
    }
    section.hum {
      left: 100%;
      .control-bar{
        left: 0;
      }
    }
    section.home {
      left: -100%;
    }
  }

  &.hum {
    section.hum {
      left: 0;
      .control-bar{
        left: 50%;
      }
    }
    section.noise {
      left: -100%;

      .control-bar{
        left: 0;
      }
    }
    section.home {
      left: -200%;
    }
  }

}

section {
  z-index:200;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: left $animation-speed;
  &.home {
    background-color: $home;
    left: 0;
  }
  &.noise {
    background-color: $noise;
    left: 100%;
    .control-bar{
      left: 0;
    }
  }
  &.hum {
    background-color: $hum;
    left: 200%;
  }
}

section.home {
  color: $white;
  .titles {
    width: 100%;
    text-align: center;
  }
  .whitecaps {
    text-shadow: 0 -3px 0 rgba(255,255,255, 1);
    margin: 0;

  }

}
canvas {
  z-index: 100;
  position: absolute;
  left: 0; top: 0;
  height: 100%;
  width: 100%;
  display: block;
}
nav {
  z-index: 300;
  position:absolute;
  bottom: 10px;
  -webkit-transform: translateX( -50% );
  left: 50%;
  ul {
    margin:0;
    padding:0 3px;
    li {
      display: inline-block;
      border-radius: 50px;
      width: 10px;
      height: 10px;
      margin: 0 3px;
      background-color: $white;
      opacity: .3;
      -webkit-transition: opacity $animation-speed;
    }
  }
}

.hum {
  nav {
    background-color: rgba(159,175,181,0.3)
  }
  li.hum {
    opacity: 1;
  }
}

.noise li.noise {
  opacity: 1;
}

.home{
  nav {
    background-color: rgba(159,175,181,0.3)
  }
  li.home {
    opacity: 1;
  }
}

.play-button {
  position: relative;
  left: 50%;
  margin-left: -20px;
  margin-bottom: 20px;
  border: 2px solid #DDE0E7;
  -webkit-border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: border-color 1s;
  &:hover{
    border: 2px solid #fff;
    -webkit-filter: glow(8px);
    .play-icon{
      border-left-color: #fff;
    }
  }
}

.play-icon {
  position:relative;
  top: 10px;
  left: 35%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #DDE0E7;
  -webkit-transition: border-color 1s;
}
