doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
      | Whitecaps
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', type="image/x-icon", href='/favicon.ico')
    link(rel='stylesheet', href='app.css')
    script(src='vendor.min.js')

  mixin chevron(pos)
    if pos == "r"
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 8 8", class="title-bar__chevron")
        path(d="M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z", transform="translate(1)")
    else
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 8 8', class="title-bar__chevron")
        path(d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z', transform='translate(1)' )

  body(ng-app="whitecaps")

    .container(ng-controller="container" ng-class="currentSection")
      canvas(width="1024", height="768")
      section(ng-controller="home" class="home")
        .titles
          h1 WHITECAPS
          //- h3 ALEATORIC NOISE

        .title-bar.play
          .title-bar__bg
            figure.title-bar--front
              .title-bar__prev
                +chevron('r')
              .title-bar__title play
              .title-bar__next
                +chevron('l')

            figure.title-bar--top
              span.title-bar__title play


      section(ng-controller="noise" class="noise")
        .control-bar
          slider(ng-repeat="bar in bars", model="bar", active="setActive(bar.name)", deactive="setActive('')")

        .title-bar
          .title-bar__bg(ng-class="{'title-bar--show-top': active != ''}")
            figure.title-bar--front
              .title-bar__prev
                +chevron('r')
              .title-bar__title noise
              .title-bar__next
                +chevron('l')

            figure.title-bar--top
              span.title-bar__title {{ active }}

      section(ng-controller="hum" class="hum")
        .control-bar
          slider(ng-repeat="bar in bars", model="bar", active="setActive(bar.name)", deactive="setActive('')")

        .title-bar
          .title-bar__bg(ng-class="{'title-bar--show-top': active != ''}")
            figure.title-bar--front
              .title-bar__prev
                +chevron('r')
              .title-bar__title hum
              .title-bar__next
                +chevron('l')

            figure.title-bar--top
              span.title-bar__title {{ active }}

      nav
        ul
          li.home
          li.noise
          li.hum
          li.effects
          li.about

    script(src='app.js')
